@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
*{
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
/*---서브 메인 이미지---*/
#sub_joy{
  width: 100%;
  position: relative;
  overflow: hidden;
}

#top_btn {
  width: 70px;
  height: 70px;
  background-color: #ff6633;
  text-align: center;
  line-height: 2.7em;
  font-size: 1.5em;
  position: fixed;
  bottom: 30px;
  right: 50px;
  border-radius: 50%;
  z-index: 3;
}
#top_btn a {
  color: white
}

.sub_top {
  width: 100%;
  height: 500px;
  clip-path: polygon(100% 0, 100% 70%, 50% 100%, 0 70%, 0 0);
  background: 
  url("../img/sub_top.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 
  inset 0 0 0 400px rgba(0,0,0,0.5);
  position: relative;
}

.sub_top_text {
  display: block;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 70%;
  left: 50%;
  font-size: 1.2em;
  line-height: 2.5em;
  color: white;
  text-align: center;
  text-shadow: 0px 0px 10px black;
}
.sub_top_text span {
  font-size: 0.8em;
}

/*---서브 내용---*/

#sub_middle {

}

/*---서브 메뉴---*/
#sub_middle_menu {
  width: 100%;
  margin: 100px 0 0;
  text-align: center;
}

#sub_middle_menu ul > li {
  display: inline-block; 
  margin: 0 30px;
  width: 140px;}

#sub_middle_menu ul > li:nth-of-type(2n) {
    display: inline-block; 
    margin: 0 10px;
    width: 0px;}

#sub_middle_menu ul > li a {font-size: 1.5em; width: 33%; font-weight:bold; color: #333;}

#sub_middle_menu ul > li a:hover, #sub_middle_menu ul > li a.active {color: #ff6633; border-bottom: #ff6633 solid 5px;}
/*--#sub_middle_menu ul > li a.active은 처음 화면에 어트랙션 메뉴 active되도록 css에 적용,  클릭시 active되는 건 javascript 부분--*/



/*---서브 어트랙션 메뉴---*/
#sub_middle_attraction_menu {
  width:1000px; 
  height:auto; 
  margin:100px auto 120px auto;
  display:flex; 
  justify-content:center; 
  flex-wrap:wrap; 
  align-content:center; 
}

#sub_middle_attraction_menu div {
  width:30%;
  margin: 3px;
  background-color:#ff6633; 
  height:200px;
  color: white;
  text-align: center;
  line-height: 7em;
  font-size: 1.7em;
  font-weight: bold;
  box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.3);
}

#sub_middle_attraction_menu div:nth-of-type(1) {
  box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.0);
  
}

#sub_middle_attraction_menu div:nth-of-type(2) {
  background-image: url("../img/17_turning.png");
  background-position: center center;
  background-size: 120%;
}

#sub_middle_attraction_menu div:nth-of-type(3) {
  background-image: url("../img/7_biking.jpg");
  background-position: center;
  background-size: 140%;
}

#sub_middle_attraction_menu div:nth-of-type(4) {
  background-image: url("../img/6_thunder.jpg");
  background-position: center;
  background-size: 120%;
}

#sub_middle_attraction_menu div:nth-of-type(5) {
  background-image: url("../img/1_texpress.jpg");
  background-position: center;
  background-size: 120%;
}

#sub_middle_attraction_menu div:nth-of-type(6) {
  background-image: url("../img/2_safari.jpg");
  background-position: center;
  background-size: 120%;
}

#sub_middle_attraction_menu div:hover {
  background-size: 140%;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.6);
}
#sub_middle_attraction_menu div:nth-of-type(1):hover {
  box-shadow: inset 0 0 0 200px rgba(255, 0, 0, 0.3);
}
#sub_middle_attraction_menu div:nth-of-type(3):hover {
  background-size: 160%;
}

/* ----어트랙션 슬라이드--- */

#attraction_slide {
  width: 100%;
  height: 550px;
  background:
  url("../img/sub_top.jpg");
  box-shadow: 
  inset 0 0 0 400px rgba(0,0,0,0.6);
  background-position: bottom center;
  background-attachment: fixed;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 70px;
}
.swiper-container {
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  width: 650px;
  height: 400px;
} 

.swiper-wrapper > div:nth-of-type(1) {
  background-image: url("../img/attraction_slide1.jpg");
}
.swiper-wrapper > div:nth-of-type(2) {
  background-image: url("../img/attraction_slide2.jpg");
}
.swiper-wrapper > div:nth-of-type(3) {
  background-image: url("../img/attraction_slide3.jpg");
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.slide_text_box {
  width: 30%;     
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 22%;
}

.slide_text_box h2 {
  float: left;
  margin-bottom: 10px;
}


.slide_text_box span {
  font-size: 0.45em;
  background-color: #ff6633;
  padding: 3px;
  color: white;
}
.slide_text_box p {
  float: left;
  text-align: left;
  font-size: 0.7em;
  color: #666;
}

.slide_text_box button {
  border: 0;
  width: 100px;
  height: 50px;
  margin-top: 20px;
  cursor: pointer;
  float: left;
  background-color: #eee;
}
.slide_text_box button:hover {
  background-color: #ff6633;
  color: white;
}


.swiper-pagination {
  text-align:start !important; /* 적용 우선순위 */
  left: 140px !important;

}
/* ----어트랙션 팝업--- */

#popup {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  position: fixed;
  z-index: 2;
}
#popup.hide_popup {
  display: none;
}
#popup .content {
  position: fixed;
  width: 1000px;
  height: 500px;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  padding: 20px;
  background: #fff;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, .5);
}
.popup_img_box {
  width: 50%;
  height: 460px;
  overflow: hidden;
  float: left;
}
.popup_img_box img {
  width: 150%;
}

.popup_text_box {
  width: 40%;
  float: right;
  margin: 20px;
}

.popup_text_box h1{
  margin-bottom: 20px;
}

.popup_text_box p{
  margin-bottom: 15px;
}

.close_btn {
  float: right;
  margin: 0 20px ;
  padding: 5px;
  height: 2.5em;
  border: 0;
  background-color: #eee;
  color: black;
  cursor: pointer;
}
.close_btn:hover {
  background-color: #ff6633;
  color: white;
}

/* ----어트랙션 이미지--- */

#sub_middle_attraction_all, #sub_middle_attraction_grobal, #sub_middle_attraction_american{
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.sub_middle_attraction_all_box {
  width:1200px; 
  height:auto; 
  margin:5px auto;
  display:flex; 
  justify-content:center; 
  flex-wrap:wrap; 
  align-content:center;
  opacity: 0;
} /*scroll FadeIn 효과 위하여 따로 분리 */

.sub_middle_attraction_grobal_box, .sub_middle_attraction_american_box {
  width:1200px; 
  height:auto; 
  margin:50px auto;
  display:flex; 
  justify-content:center; 
  flex-wrap:wrap; 
  align-content:center;
}

#sub_middle_attraction_wrap li {
  height:350px;
  margin: 15px 15px 50px 15px;
  cursor: pointer;
}

.attraction_img_box {
  overflow: hidden;
  height: 300px;
  position: relative;
}
.attraction_img_box img{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 70%;
}

.hide_text{
  position: absolute;
  color: white;
  line-height: 9em;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
}
.hide_text:hover{
  transition: all 0.5s ease;
  opacity: 1;
}

.attraction_text_box p {
  color: black;
  float: left;
  margin-top: 20px;
  font-size: 0.7em;
  font-weight: 100;
}

/*여기부터 추천코스*/

#sub_middle_course_wrap{
  display: none;
  text-align: center;
}

#slidewrap {width: 849px; margin: 50px auto; position: relative; overflow: hidden;}
.slide {width: 3396px; }
.slide li {width: 849px; float: left;}
.slide li img {width: 100%; height: 100%;}

.slide p {width: 350px; height: 60px; line-height: 70px; position: absolute; 
  top:50%; left: 50%; transform: translate(-50%, -50%); 
  text-align: center; background-color:#fff; opacity: 0.8; border-radius: 10px; }

#slidewrap span {position: absolute; top:50%; display: block; font-size: 38px; color:#fff; line-height: 25px;
background: rgba(0,0,0,0.6); cursor: pointer; height: 50px; transform: translateY(-50%); }

#slidewrap span:hover {background: rgba(255,255,255,0.8); color:#000;}

.prev {left:0; border-radius: 0 10px 10px 0px; padding:10px;}
.next {right:0; border-radius: 10px 0px 0px 10px; padding:10px;}


/*여기부터 엔터테인먼트*/
#sub_middle_enter_wrap{
  display: none;
}

#sub_middle_enter_wrap p{
  margin: 70px auto;
  text-align: center;
}

iframe {border: none;}